<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-android-sms-receiver" version="0.0.3" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SmsReceiver</name>
    <js-module name="SmsReceiver" src="www/SmsReceiver.js">
        <clobbers target="SmsReceiver" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SmsReceiver">
                <param name="android-package" value="com.pravinkumarp.SmsReceiver"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application">
            <receiver android:name="com.pravinkumarputta.android.smsreceiver.SMSBroadcastReceiver" android:exported="true">
                <intent-filter>
                    <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED"/>
                </intent-filter>
            </receiver>
        </config-file>

        <source-file src="src/android/SmsReceiver.java" target-dir="src/com/pravinkumarp" />

        <framework src="src/android/smsreceiver.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
